<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpeg"class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Suarez, Adriana</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mí</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet tempora deleniti totam! Unde, sequi ut? Maxime optio animi nemo fuga maiores illum in, sunt impedit repellendus iste fugit quae dolores.</p>

        </span>

    </div>

</div>

