<div class="row">
  <h1>Hard and Soft skills</h1>
  <div class="text-center col-sm-4 col-m-4 col-lg-4" >
    <circle-progress
      [percent]="90"
      [radius]="80"
      [showUnits]="false"
      [imageSrc]="'../assets/html.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'purple'"
      [innerStrokeColor]="'#BB8FCE'"
      [animation]="true"
      [animationDuration]="500"
     ></circle-progress> 
  </div>
  <div class="text-center col-sm-4 col-m-4 col-lg-4" >
    <circle-progress
      [percent]="90"
      [radius]="80"
      [showUnits]="false"
      [imageSrc]="'../assets/CSS.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'purple'"
      [innerStrokeColor]="'#BB8FCE'"
      [animation]="true"
      [animationDuration]="500"
     ></circle-progress> 
  </div>
  <div class="text-center col-sm-4 col-m-4 col-lg-4" >
    <circle-progress
      [percent]="90"
      [radius]="80"
      [showUnits]="false"
      [imageSrc]="'../assets/git.png'"
      [showImage]="true"
      [imageHeight]="85"
      [imageWidth]="85"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'purple'"
      [innerStrokeColor]="'#BB8FCE'"
      [animation]="true"
      [animationDuration]="500"
     ></circle-progress> 
  </div>
  <div class="text-center col-sm-4 col-m-4 col-lg-4" >
    <circle-progress
      [percent]="90"
      [radius]="80"
      [showUnits]="false"
      [imageSrc]="'../assets/js.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'purple'"
      [innerStrokeColor]="'#BB8FCE'"
      [animation]="true"
      [animationDuration]="500"
     ></circle-progress> 
  </div>
  <div class="text-center col-sm-4 col-m-4 col-lg-4" >
    <circle-progress
      [percent]="90"
      [radius]="80"
      [showUnits]="false"
      [imageSrc]="'../assets/eng.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'purple'"
      [innerStrokeColor]="'#BB8FCE'"
      [animation]="true"
      [animationDuration]="500"
     ></circle-progress> 
  </div>
  <div class="text-center col-sm-4 col-m-4 col-lg-4" >
    <circle-progress
      [percent]="90"
      [radius]="80"
      [showUnits]="false"
      [imageSrc]="'../assets/grupal.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'purple'"
      [innerStrokeColor]="'#BB8FCE'"
      [animation]="true"
      [animationDuration]="500"
     ></circle-progress> 
  </div>
 
</div>
